In [24]:
print('Hello, Python!', "halloo yuda")
import sys
print(sys.version)
type (4)

Hello, Python! halloo yuda
3.7.7 (tags/v3.7.7:d7c567b08f, Mar 10 2020, 09:44:33) [MSC v.1900 32 bit (Intel)]

str

In [30]:
type (4.12)

float

In [31]:
type ("Aku adalah seorang kapiten")

str

In [40]:
float("12.5")
type(float("12.5"))

float

In [41]:
int(1.1)

1

In [54]:
int("134")

134

In [57]:
str(12345)

'12345'

In [59]:
type(True)

bool

In [63]:
int(True)

1

In [62]:
int(False)

0

In [65]:
bool(1)

True

In [66]:
float(True)

1.0

In [71]:
6/2 #untuk float

3.0

In [73]:
6//2 #untuk int

3

In [74]:
30 + 2 * 60

150

In [75]:
(30 + 2) * 60

1920

In [77]:
x = 23 + 66 + 46 + 45
y = x/20
print (int(y))

9

In [79]:
x = 3 + 2 * 2
y = (3 + 2) * 2
z = x+y
print (z)

17

In [85]:
Name = "Michael Jackson"
print(Name[0])
print(Name[6])
print(Name[12])
print(Name[-1])
print(Name[-5])
print (len(Name))
print (len("Michael Jackson"))

M
l
s
n
c
15
15

In [88]:
print (Name[0:4])
print (Name[8:12])
print (Name[::2])
print (Name[0:5:2])

Mich
Jack
McalJcsn
Mca

In [93]:
Statement = Name + " is the best"
print (Statement)
print (3 *Statement)

Michael Jackson is the best
Michael Jackson is the bestMichael Jackson is the bestMichael Jackson is the best

In [94]:
print(" Michael Jackson \n is the best" )
print(" Michael Jackson \t is the best" )
print(" Michael Jackson \\ is the best" )
print(r" Michael Jackson \ is the best" )

 Michael Jackson
 is the best
 Michael Jackson 	 is the best
 Michael Jackson \ is the best
 Michael Jackson \ is the best

In [95]:
A = "Thriller is the sixth studio album"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [96]:
A = "Michael Jackson is the best"
B = A.replace('Michael', 'Janet')
B

'Janet Jackson is the best'

In [97]:
Name = "Michael Jackson"
Name.find('el')

5

In [98]:
Name.find('Jack')

8

In [99]:
Name.find('Jasdfasdasdf')

-1

In [100]:
A = "1"
B = "2"
C = A + B
print (C)

D = "ABCDEFG"
print (D [:3])

E = 'clocrkr1e1c1t'
E.upper()

12

In [101]:
L = ["Michael Jackson", 10.1,1982,"MJ",1]
print (L)

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [103]:
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
print (L)

L1 = [ "Michael Jackson", 10.2]
L1.append(['pop', 10])
print (L1)

L2 = [ "Michael Jackson", 10.2]
L2.extend(['pop', 10])
print (L2)

['Michael Jackson', 10.2, 'pop', 10]
['Michael Jackson', 10.2, ['pop', 10]]
['Michael Jackson', 10.2, 'pop', 10]

In [104]:
A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]
Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [106]:
'hard rock'.split()

['A', 'B', 'C', 'D']

In [ ]:
'A,B,C,D'.split(',')

In [ ]:
A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

In [110]:
tuple1 = ("disco",10,1.2 )
print (tuple1)
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])
print(tuple1[-2])
print(tuple1[-3])

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

('disco', 10, 1.2)
disco
10
1.2
10
disco
<class 'str'>
<class 'int'>
<class 'float'>

In [111]:

tuple2 = tuple1 + ("hard rock", 10)
print (tuple2)
print (tuple2[3:5])

('disco', 10, 1.2, 'hard rock', 10)

In [112]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
RatingsSorted = sorted(Ratings)
print (RatingsSorted)

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [121]:
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
print (set1)

{'hard rock', 'pop', 'disco', 'R&B', 'soul', 'rock'}

In [114]:
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19","Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [118]:
A = set(["Thriller", "Back in Black", "AC/DC"])
print (A)
A.add("NSYNC")
print (A)

{'Thriller', 'AC/DC', 'Back in Black'}
{'Thriller', 'NSYNC', 'AC/DC', 'Back in Black'}

In [123]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

intersection = album_set1 & album_set2
print (intersection)

print (album_set1.difference(album_set2) )
print (album_set1.intersection(album_set2))

{'AC/DC', 'Back in Black'}
{'Thriller'}
{'AC/DC', 'Back in Black'}

In [127]:
release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
print (release_year_dict)

print (release_year_dict['Thriller'])
print (release_year_dict['The Bodyguard'])
print (release_year_dict.keys() )
print (release_year_dict.values() )

del(release_year_dict['Thriller'])
del(release_year_dict['The Bodyguard'])
print (release_year_dict)

{'Thriller': '1982', 'Back in Black': '1980', 'The Dark Side of the Moon': '1973', 'The Bodyguard': '1992', 'Bat Out of Hell': '1977', 'Their Greatest Hits (1971-1975)': '1976', 'Saturday Night Fever': '1977', 'Rumours': '1977'}
1982
1992
dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])
dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])
{'Back in Black': '1980', 'The Dark Side of the Moon': '1973', 'Bat Out of Hell': '1977', 'Their Greatest Hits (1971-1975)': '1976', 'Saturday Night Fever': '1977', 'Rumours': '1977'}